ul {
	list-style-type:none;
	margin:0;
	padding:0;
	background-color: #ddddddd;
	overflow: hidden;
	display:flex;
	flex-direction: row;
	flexwrap: wrap;
	height: 200px;
}
li {
	text-decoration:none;
	padding: 20px;
	flex-grow:1;
	margin:auto;
}
a {
	color: black;
}
a:hover {
	color:gray;
}
